<section class="py-5">
    <div class="button-holder">
        <a href="/Orders/Create" class="btn btn-info text-uppercase">Create New Order</a>
    </div>

    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Orders</h1>
        <div style="padding: 5%;">

            <div>
                <partial name="_OrderSearchPartial" model="null" />
            </div>
            <br />

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="text-align:center;">Details</th>
                        <th scope="col" style="text-align:center;">Reference №</th>
                        <th scope="col" style="text-align:center;">Accounting Date</th>
                        <th scope="col" style="text-align:center;">System</th>
                        <th scope="col" style="text-align:center;">Created by</th>
                        <th scope="col" style="text-align:center;">Approved by</th>
                        <th scope="col" style="text-align:center;">Posting by</th>
                        <th scope="col" style="text-align:center;">Posting approved<br />by</th>
                        <th scope="col" style="text-align:center;">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>
                                <div class="button-holder">
                                    <a href="/Orders/Details?orderId=@order.Id" class="btn btn-info text-uppercase">View</a>
                                </div>
                            </td>
                            <th scope="row">№@order.RefNumber</th>
                            <td>@order.AccountingDate</td>
                            <td>@order.System</td>
                            <td>@order.UserCreate</td>
                            <td>@order.UserApprove</td>
                            <td>@order.UserAccountant</td>
                            <td>@order.UserApproveAccounting</td>
                            <th scope="row">@order.Status</th>
                        </tr>
                    }
                </tbody>
            </table>
            @if (false) //TODO
            {
                <strong>There are no orders.</strong>
            }
        </div>
    </div>
</section>