@model BankOrders.Models.Orders.OrderDetailListingViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderDetailListingViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RefNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RefNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.System)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.System)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCreate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCreate)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Edit</th>
            <th scope="col">Branch</th>
            <th scope="col">Cost Center</th>
            <th scope="col">Project</th>
            <th scope="col">Reason</th>
            <th scope="col">Account</th>
            <th scope="col">Account Type</th>
            <th scope="col">Sum</th>
            <th scope="col">Currency</th>
            <th scope="col">Sum in BGN</th>
            <th scope="col">Accounting Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detail in Model.OrderDetails)
        {
            if (Model.EditDetailId == null)
            {
                <tr>
                    <th scope="row">
                        <div class="button-holder">
                            <button type="submit" class="btn btn-primary" href="/Orders/Details?orderId=@Model.Id?editDetailId=@detail.Id">Edit</button>
                            <a href="/Orders/Details?orderId=@Model.Id?editDetailId=@detail.Id" class="btn btn-info text-uppercase">Edit</a>
                        </div>
                    </th>
                    <td>@detail.Branch</td>
                    <td>@detail.CostCenter</td>
                    <td>@detail.Project</td>
                    <td>@detail.Reason</td>
                    <td>@detail.Account</td>
                    <td>@detail.AccountType</td>
                    <td>@detail.Sum</td>
                    <td>@detail.Currency</td>
                    <td>@detail.SumBGN</td>
                    <td>@detail.AccountingNumber</td>
                </tr>
            }
        }
    </tbody>
</table>
