@model BankOrders.Models.Orders.OrderDetailListingViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order №@Html.DisplayFor(model => model.RefNumber)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.System)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.System)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserCreate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserCreate)
        </dd>
    </dl>
</div>

<partial name="_OrderDetailFormModel" model=@(Model.EditDetailId != null ? Model.OrderDetails.Where(x => x.OrderDetailId == Model.EditDetailId).First() : null) />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Edit</th>
            <th scope="col">Branch</th>
            <th scope="col">Cost Center</th>
            <th scope="col">Project</th>
            <th scope="col">Reason</th>
            <th scope="col">Account</th>
            <th scope="col">Account Type</th>
            <th scope="col">Sum</th>
            <th scope="col">Currency</th>
            <th scope="col">Sum in BGN</th>
            <th scope="col">Accounting Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detail in Model.OrderDetails)
        {
            if (Model.EditDetailId == detail.OrderDetailId)
            {
                <tr>
                    <th class="thead-dark" scope="row">
                        <div class="button-holder">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </th>
                    <td>@detail.Branch</td>
                    <td>@detail.CostCenter</td>
                    <td>@detail.Project</td>
                    <td>@detail.Reason</td>
                    <td>@detail.Account</td>
                    <td>@detail.AccountType</td>
                    <td>@detail.Sum</td>
                    <td>@detail.Currency</td>
                    <td>@detail.SumBGN</td>
                    <td>@detail.AccountingNumber</td>
                </tr>
            }
            else
            {
                <tr>
                    <th scope="row">
                        <div class="button-holder">
                            <a href="/Orders/Details?orderId=@Model.Id&editDetailId=@detail.OrderDetailId" class="btn btn-info text-uppercase">Edit</a>
                        </div>
                    </th>
                    <td>@detail.Branch</td>
                    <td>@detail.CostCenter</td>
                    <td>@detail.Project</td>
                    <td>@detail.Reason</td>
                    <td>@detail.Account</td>
                    <td>@detail.AccountType</td>
                    <td>@detail.Sum</td>
                    <td>@detail.Currency</td>
                    <td>@detail.SumBGN</td>
                    <td>@detail.AccountingNumber</td>
                </tr>
            }
        }
    </tbody>
</table>

@if (Model.OrderDetails.Count == 0)
{
    <strong>Order №@Model.RefNumber has no details.</strong>
}
